<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>400 Bad Request</title>
</head>
<body>
<h1>400 Bad Request</h1>
<p th:text="${errorMessage}">The request could not be understood by the server.</p>

<div sec:authorize="isAuthenticated()">
    <div sec:authorize="hasRole('ROLE_USER')">
        <a href="/user/account" class="btn">Home</a>
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="/admin/accounts" class="btn">Admin Home</a>
    </div>
</div>
</body>
</html>
